body {
	font-family: 'Montserrat', sans-serif;
}
.header {
	height: 80px;
	background-color: black;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	align-items: center;
}

.header > .logo img {
	width: 150px;
	height: 30px;
	padding-left: 20px;
}

.navigation {
	display: grid;
	grid-template-rows: 0.6fr 1.8fr;
	align-items: center;
}

.navigation > .nav-links {
	width: 200px;
	display: grid;
	grid-template-columns: 0.7fr 1fr 0.8fr 0.8fr;
	width: 100%;
}

.navigation > .nav-links-explore {
	/* font-family: 'Roboto', sans-serif; */
	color: yellow;
}

.navigation > .nav-links > .nav-bar a {
	/* font-family: 'Roboto', sans-serif; */
	font-size: 25px;
	color: white;
	text-decoration: none;
}

.dropdown-menu {
	margin-top: 20px;
}

.dropdown-menu a {
	/* font-family: 'Roboto', sans-serif; */
	padding-left: 30px;
	font-size: 23px;
	color: grey;
	text-decoration: none;
}

.right-column {
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr 1fr;
	height: 50px;
	padding-right: 1px;
}

.right-column a {
	color: white;
}

.dropdown-btn {
	display: flex;
	justify-content: space-evenly;
	padding-top: 15px;
	background-color: #3a3a3a;
	color: white;
	border: none;
	border-radius: 0.2rem;
	font-size: 19px;
}

.dropdown-btn img {
	font-size: 15px 15px;
}

.login {
	background-color: #3a3a3a;
	color: white;
	border: none;
	border-radius: 0.2rem;
	font-size: 19px;
	margin-right: 10px;
}

.signup {
	background-color: #3a3a3a;
	color: white;
	border: none;
	border-radius: 0.2rem;
	font-size: 19px;
	margin-right: 2px;
}

.content-container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	background-color: #2b2d34;
}

.left-column-content {
	/* font-family: 'Roboto', sans-serif; */
	color: #a1a3a7;
	height: 350px;
	padding-left: 30px;
	font-size: 35px;
}
.left-column-content p:nth-child(1) {
	text-shadow: -2px 0px 1px #8a8b91;
}
.left-column-content p:nth-child(2) {
	font-size: 31px;
}

.left-column-content b {
	color: white;
}

.btn {
	width: 200px;
	height: 60px;
	background-color: #4bce79;
	font-size: 23px;
	border: none;
	border-radius: 0.2rem;
	color: black;
}

.btn b {
	color: black;
}

.learnmore-btn {
	width: 150px;
	height: 60px;
	background-color: black;
	color: white;
	font-size: 23px;
	border: none;
	border-radius: 0.2rem;
}

.right-column-content {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 20px;
	line-height: 0.1rem;
}

.right-column-content p {
	/* font-family: 'Roboto', sans-serif; */
	font-size: 17px;
	color: white;
	padding-left: 100px;
}

.right-column-content p b {
	color: rgb(41, 166, 197);
}

.right-column-content img {
	width: 600px;
	height: 400px;
	margin-left: 80px;
	box-shadow: -15px -14px 10px -9px #0a0a0a;
}

.spacer5 {
	background-color: #2b2d34;
	height: 5px;
}

.panel-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 0.5px solid #4e4d4d;
	border-bottom: 0.5px solid #4e4d4d;
}

.panel-block > .panel-block-items {
	height: 55px;
	background-color: #36383f;
	width: 100%;
}

.panel-block > .panel-block-items li {
	padding-left: 50px;
	padding-right: 50px;
	display: inline;
	color: rgb(252, 246, 246);
	text-decoration: none;
	font-size: 19px;
}

.panel-block > .panel-block-items li:nth-child(2) {
	border-left: 2px solid rgb(139, 138, 138);
}

.panel-block > .panel-block-items li:nth-child(3) {
	border-left: 2px solid rgb(139, 138, 138);
}

.panel-block > .panel-block-items li:nth-child(4) {
	border-left: 2px solid rgb(139, 138, 138);
}

.spacer17 {
	background-color: #2b2d34;
	height: 17px;
}
